{% extends 'admin/layout.html.twig' %}

{% block title %}User index{% endblock %}

{% block content %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
               
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>LastName</th>
                <th>FirstName</th>
                <th>Size</th>
                <th>Weight</th>
                <th>Phone</th>
                <th>Status</th>
                <th>IsVerified</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
               
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.size }}</td>
                <td>{{ user.weight }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.status }}</td>
                <td>{{ user.isVerified ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('admin_user_show', {'id': user.id}) }}">Voir </a>
                    <a href="{{ path('admin_user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">Aucune entrée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_user_new') }}">Ajouter un guide</a>
{% endblock %}
