{% extends 'admin/layout.html.twig' %}

{% block title %}Modification de l'évènement {{ event.canyon.name }}{% endblock %}

{% block content %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

<h1>Modification de l'évènement {{ event.id }} de {{ event.canyon.name}}</h1>

{{ include('admin/event/_form.html.twig', {'button_label': 'Actualiser'}) }}

{{ include('admin/event/_delete_form.html.twig') }}
{% endblock %}

