{% extends 'base.html.twig' %}

{% block title %}Connexion à votre compte{% endblock %}

{% block content %}

<form method="post">
    <div class="container">
        <div class="row justify-content-center">
            {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {# {% if app.user %}
            <div class="col-md-lg-6 ">
                <p> Vous êtes déjà connecté en tant que {{ app.user.firstName ~ ' ' ~ app.user.lastName }}.</p>
                <p><a href="{{ path('app_logout') }}">Déconnexion</a></p>
            </div>
            {% endif %} #}
        </div>
        <div class="row justify-content-center">
            <h1>Connexion</h1>
        </div>
        <div class="row justify-content-center mt-3 mb-3">
            <div class="col-sm-10 col-md-8 col-lg-6">
                <label for="inputEmail">Votre e-mail</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                    required autofocus>
            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-sm-10 col-md-8 col-lg-6">
                <label for="inputPassword">Votre mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </div>
        </div>
        {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

        <div class="row justify-content-center mb-3">
            <div>
                <input class="nav-button mb-2" type="submit" value="Connexion"/>
            
                    <a href="{{ path('app_forgot_password_request') }}"> Mot de passe oublié ?</a>
            
            </div>
        </div>
    </div>
</form>
{% endblock %}