{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-sm-10 col-md-8 col-lg-6">
        {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        <h1>Inscription</h1>

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.lastName, {
    'label': 'Nom',
    'attr': {'placeholder': 'Ex : Mi'}
        }) }}
        {{ form_row(registrationForm.firstName, {
    'label': 'Prénom',
    'attr': {'placeholder': 'Ex: Jean'}
        }) }}
        {{ form_row(registrationForm.phone, {
            'label': 'Téléphone',
            'attr': {'placeholder': '00 00 00 00 00'}
                }) }}
        {{ form_row(registrationForm.email, {
    'label': 'Adresse mail',
    'attr': {'placeholder': 'Ex: jean.mi@gmail.com'}
        }) }}
        {{ form_row(registrationForm.plainPassword
        ) }}
        {{ form_row(registrationForm.agreeTerms, {
            'label' : 'Acceptez les termes du contrat'
        }) }}

        <input type="submit" class="nav-button" value="Inscription" />

        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}