{% extends 'base.html.twig' %}

{% block title %}Modification du Canyon {{ canyon.name }}{% endblock %}

{% block body %}
    <h1> Modification du Canyon {{ canyon.name }}</h1>

    {{ include('admin/canyon/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_canyon_index') }}">Retour à liste</a>

    {{ include('admin/canyon/_delete_form.html.twig') }}
{% endblock %}
