{% extends 'admin/layout.html.twig' %}

{% block title %}Index des canyons{% endblock %}

{% block content %}
<h1 class="title">Index des Canyons</h1>

{% for canyon in canyons %}
<table class="table">
    <tbody>
        <h2>{{ canyon.name }}</h2>
        <tr>
            <th>Description</th>
            <td>{{ canyon.description }}</td>
        </tr>
        <tr>
            <th>Résumé</th>
            <td>{{ canyon.shortDescription }}</td>
        </tr>
        <tr>
            <th>Places disponibles </th>
            <td>{{ canyon.numberOfPlaces }}</td>
        </tr>
        <tr>
            <th>Niveau</th>
            <td>{{ canyon.level }}</td>
        </tr>
        <tr>
            <th>Age requis</th>
            <td>{{ canyon.ageNeeded }}</td>
        </tr>
        <tr>
            <th>Demi-journée</th>
            <td>{{ canyon.halfDay ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>Journée</th>
            <td>{{ canyon.fullDay ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>Lieu</th>
            <td>{{ canyon.location }}</td>
        </tr>
        <tr>
            <th>Départ</th>
            <td>{{ canyon.meetingPoint }}</td>
        </tr>
        <tr>
            <th>Localisation</th>
            <td>{{ canyon.gps }}</td>
        </tr>
        <tr>
            <th>Rappel</th>
            <td>{{ canyon.abseiling }}</td>
        </tr>
        <tr>
            <th>Pré-requis</th>
            <td>{{ canyon.knowledge }}</td>
        </tr>
    </tbody>
</table>


<h3 class="center bottom">Actions</h3>
<div class="actions bottom">
    {# le path mappe la fonction grace au name renté #}
    {# <a href="{{ path('admin_canyon_show', {'id': canyon.id}) }}">Voir</a> #}
    <a href="{{ path('admin_canyon_edit', {'id': canyon.id}) }}"><button type="button"
            class="btn btn-warning">Modifier</button></a>
    <a href="{{ path('admin_canyon_show_events', {'id': canyon.id}) }}"><button type="button"
            class="btn btn-success text-body">Gestion des évènements</button></a>
    <div>{{ include('admin/canyon/_delete_form.html.twig') }}</div>
</div>

{% else %}
<div colspan="13"> Aucune entrée trouvée </div>
{% endfor %}

{% endblock %}

{# <h3>{{ canyon.name }}</h3>

<div>
    <h5>Description</h5>
    <p>{{ canyon.description }}</p>
</div>
<div class="infos">
    <div class="column">
        <h5>Nombre de places</h5>
        <p>{{ canyon.numberOfPlaces }}</p>
    </div>
    <div class="column">
        <h5>Niveau</h5>
        <p>{{ canyon.level }}</p>
    </div>
    <div class="column">
        <h5>Age requis</h5>
        <p>{{ canyon.ageNeeded }}</p>
    </div>
    <div class="column">
        <h5>Demi-journée</h5>
        <p>{{ canyon.halfDay ? 'Oui' : 'Non' }}</p>
    </div>
    <div class="column">
        <h5>Journée</h5>
        <p>{{ canyon.fullDay ? 'Oui' : 'Non' }}</p>
    </div>
    <div class="column">
        <h5>Lieu</h5>
        <p>{{ canyon.location }}</p>
    </div>
    <div class="column">
        <h5>GPS</h5>
        <p>{{ canyon.gps }}</p>
    </div>
    <div class="column">
        <h5>Rappel</h5>
        <p>{{ canyon.abseiling }}</p>
    </div>
    <div class="column">
        <h5>Pré-requis</h5>
        <p>{{ canyon.knowledge }}</p>
    </div class="column">
</div> #}