{% extends 'base.html.twig' %}

{% block title %}Canyon index{% endblock %}

{% block body %}
    <h1>Canyon index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>NumberOfPlaces</th>
                <th>Level</th>
                <th>AgeNeeded</th>
                <th>HalfDay</th>
                <th>FullDay</th>
                <th>Location</th>
                <th>Gps</th>
                <th>Abseiling</th>
                <th>Knowledge</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for canyon in canyons %}
            <tr>
                <td>{{ canyon.id }}</td>
                <td>{{ canyon.name }}</td>
                <td>{{ canyon.description }}</td>
                <td>{{ canyon.numberOfPlaces }}</td>
                <td>{{ canyon.level }}</td>
                <td>{{ canyon.ageNeeded }}</td>
                <td>{{ canyon.halfDay ? 'Yes' : 'No' }}</td>
                <td>{{ canyon.fullDay ? 'Yes' : 'No' }}</td>
                <td>{{ canyon.location }}</td>
                <td>{{ canyon.gps }}</td>
                <td>{{ canyon.abseiling }}</td>
                <td>{{ canyon.knowledge }}</td>
                <td>
                    {# le path mappe la fonction grace au name renté #}
                    <a href="{{ path('admin_canyon_show', {'id': canyon.id}) }}">show</a>
                    <a href="{{ path('admin_canyon_edit', {'id': canyon.id}) }}">edit</a>
                    <a href="{{ path('admin_canyon_show_events', {'id': canyon.id}) }}">events</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">Aucune entrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_canyon_new') }}">Create new</a>
{% endblock %}
