{% extends 'base.html.twig' %}

{% block title %}Canyon{% endblock %}

{% block body %}
    <h1>Canyon</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ canyon.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ canyon.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ canyon.description }}</td>
            </tr>
            <tr>
                <th>NumberOfPlaces</th>
                <td>{{ canyon.numberOfPlaces }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ canyon.level }}</td>
            </tr>
            <tr>
                <th>AgeNeeded</th>
                <td>{{ canyon.ageNeeded }}</td>
            </tr>
            <tr>
                <th>HalfDay</th>
                <td>{{ canyon.halfDay ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>FullDay</th>
                <td>{{ canyon.fullDay ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ canyon.location }}</td>
            </tr>
            <tr>
                <th>Gps</th>
                <td>{{ canyon.gps }}</td>
            </tr>
            <tr>
                <th>Abseiling</th>
                <td>{{ canyon.abseiling }}</td>
            </tr>
            <tr>
                <th>Knowledge</th>
                <td>{{ canyon.knowledge }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_canyon_index') }}">back to list</a>

    <a href="{{ path('admin_canyon_edit', {'id': canyon.id}) }}">edit</a>

    {{ include('admin/canyon/_delete_form.html.twig') }}
{% endblock %}
