{% extends 'base.html.twig' %}

{% block title %}H2O Canyon | Réservation{% endblock %}

{% block content %}

{% for message in app.flashes('message') %}
<div class="alert-message-success" role="alert">
    <div class="mb-2">
        {{ message }}
    </div>
    <div>
        <div>N'oubliez pas de consulter note page d'informations si vous ne l'avez toujours pas fait.</div>
        <a href="{{ path('informations') }}" title="Découvrez l'équipe">
            <div class="nav-button mb-4"><i class="far fa-eye"></i>Informations</div>
        </a>
        <div>Ainsi que notre page de conditions générales de vente.</div>
        <a href="{{ path('cgv') }}" title="Découvrez l'équipe">
            <div class="nav-button mb-2"><i class="far fa-eye"></i>CGV</div>
        </a>
    </div>
</div>
{% endfor %}
<section>
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <h1 class="mb-5">Demande de Réservation</h1>
            {{ form_start(reservationForm) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(reservationForm) }}
            </div>
            <div class="row">
                <div class="col mx-2">{{ form_row(reservationForm.firstName) }}</div>
                <div class="col mx-2">{{ form_row(reservationForm.lastName) }}</div>
            </div>
            <div class="row">
                <div class="col mb-3 mx-2">
                    {{ form_row(reservationForm.email) }}
                </div>
            </div>
            <div class="row">
                <div class="col mb-3 mx-2">
                    {{ form_row(reservationForm.phone) }}
                </div>
            </div>
            <div class="row">
                <div class="col mb-3 mx-2">
                    {{ form_row(reservationForm.canyon) }}
                </div>
            </div>
            <div class="row">
                <div class="col mb-3 mx-2">
                    {{ form_row(reservationForm.when) }}
                </div>
            </div>
            <div class="row">
                <div class="col mb-3 mx-2">
                    {{ form_row(reservationForm.extra_personn) }}
                </div>
            </div>
            <div class="row">
                <div class="col mx-2">
                    {{ form_row(reservationForm.message) }}
                </div>
            </div>
            {{ form_end(reservationForm) }}
        </div>
    </div>

</section>

</div>
</div>

{% endblock %}