{% extends 'landing.html.twig' %}

{% block title %}H2O Canyon | Accueil{% endblock %}

{% block content %}

{% if is_granted('ROLE_ADMIN') %}
<div class="modal fade" id="modalAdmin" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content background">
            <div class="modal-body">
                <h5 class="modal-title text-center" id="exampleModalLongTitle">
                    Bonjour {{ app.user.firstName ~ ' ' ~ app.user.lastName }} !
                </h5>
                <a href="{{ path('admin_canyon_index') }}" class="nav-button">tableau de bord</a>
            </div>
        </div>
    </div>
</div>

{% endif %}
{% if is_granted('ROLE_USER') %}
<div class="col-md-lg-6 text-center ">
    <p> Bonjour {{ app.user.firstName ~ ' ' ~ app.user.lastName }} !</p>
    <p>Vous pouvez désormais faire une demande de réservation.</p>
</div>
{% endif %}

<section class="container text-center">
    <div class="row d-flex justify-content-center">
        <div>
            <h1 class="display-4 font-weight-bold white-text py-5 my-5">Venez découvrir le canyoning dans le Jura avec H2O Canyon !</h1>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4">
                <h2 class="my-5 font-weight-bold">Jetez-vous à l'eau ...</h2>
                <div>
                    <img src="assets/images/malvaux/malvaux_02.jpg" class="cover" alt="plongeon">
                </div>
                <div class="content mt-5">
                    <p>
                        À 1h15 de Besançon et de Lausanne et à 1h30 de Dijon. <br />
                        Également à proximité des Rousses, de Clairvaux-les-lacs, de Saint Claude et de Métabief.
                    </p>
                </div>
                <div>
                    <a href="{{ path('canyons_index') }}" title="Découvrez les canyons">
                        <div class="nav-button"><i class="far fa-eye"></i>les canyons</div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 mb-4">
                <h2 class="my-5 font-weight-bold">... en toute sécurité !</h2>
                <div>
                    <img src="assets/images/coiserette/coiserette_06_resize.jpg" class="cover" alt="guide">
                </div>
                <div class="content mt-5">
                    <p>
                        Laissez vous guider par des professionels diplômés d’état <br />
                        pour découvrir le canyoning dans le Jura. Vous ne le regretterez pas !
                    </p>
                </div>
                <div>
                    <a href="{{ path('guides') }}" title="Découvrez l'équipe">
                        <div class="nav-button"><i class="far fa-eye"></i>l'équipe</div>
                    </a>
                </div>
            </div>
        </div>
</section>

<section>
    <h2 class="my-5 font-weight-bold text-center">Présentation</h2>
    <div class="videoWrapper">
        <iframe width="560" height="349" src="https://www.youtube.com/embed/WV7l0Azpz50" frameborder="0"
            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </a>
    </div>
</section>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('assets/js/scripts.js')}}"></script>
{% endblock %}