{% extends 'base.html.twig' %}

{% block title %}H2O Canyon | Liste des canyons{% endblock %}

{% block content %}

<section class="container-md text-center">
    <div class="row d-flex justify-content-around">
        <div>
            <h1 class="font-weight-bold mb-5 text-center">Les Canyons</h1>
        </div>
        <div class="row justify-content-around"> 
            {% for canyon in canyons %}
            <div class="col-lg-6 mb-4">
                
                <h2 class="mb-5 font-weight-bold text-center">{{ canyon.name }}</h2>
                <div class="pl-3 pr-3">
                    <img src="{{ vich_uploader_asset(canyon, 'file') }}" class="cover img-fluid" alt="{{ canyon.name }}" />
                </div>
                <div class="content mt-5">
                    <p>
                        {{ canyon.shortDescription }}
                    </p>
                </div>
                <div>
                    <a href="{{ path('canyons_single', {'id' : canyon.id} )}}" title="Découvrez les canyons">
                        <div class="nav-button bottom"><i class="far fa-eye"></i>En savoir plus</div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{# <h1>les canyons</h1>
<div class="row justify-content-center">
    {% for canyon in canyons %}

    <div class="column">

        <h2>{{ canyon.name }}</h2>
        <img src="{{ vich_uploader_asset(canyon, 'file') }}" class="cover" alt="{{ canyon.name }}" />
        <div class="content top">{{ canyon.shortDescription }}</div>
        <a href="{{ path('canyons_single', {'id' : canyon.id} )}}" title="Découvrez les canyons">
            <div class="nav-button bottom"><i class="far fa-eye"></i>En savoir plus</div>
        </a>
    </div>
    {% endfor %}

</div> #}
{% endblock %}