{% extends 'base.html.twig' %}

{% block title %}H2O Canyon | Liste des canyons{% endblock %}

{% block content %}

<h1>les canyons</h1>

{% for canyon in canyons %}

<h2>{{ canyon.name }}</h2>
<img src="{{ vich_uploader_asset(canyon, 'file') }}" class="cover" alt="{{ canyon.name }}" />
<div class="content top">{{ canyon.shortDescription }}</div>
<a href="{{ path('canyons_single', {'id' : canyon.id} )}}" title="Découvrez les canyons">
    <div class="nav bottom"><i class="far fa-eye"></i>En savoir plus</div>
</a>

{% endfor %}

{% endblock %}