{% extends 'base.html.twig' %}

{% block title %}H2O Canyon | {{ canyon.name }}{% endblock %}

{% block content %}

<section>
    <h1 class="text-center mb-5">{{ canyon.name }}</h1>

    <div id="carouselExampleIndicators" class="carousel">
        <ol class="carousel-indicators">
            {% for picture in canyon.pictures %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index-1 }}"
                class="{{ loop.first ? 'active': '' }} "></li>
            {% endfor  %}
        </ol>
        <div class="carousel-inner">
            {% for picture in canyon.pictures %}
            <div class="carousel-item {{ loop.first ? 'active': '' }} ">
                <img class="d-block img-fluid" src="{{ asset('assets/uploads/' ~ picture.path)  }}"
                    alt="Image du {{ canyon.name }}">
            </div>
            {% endfor  %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span><i class="fas fa-angle-double-left" aria-hidden="true"></i></span>
            <span class="sr-only">Précedente</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span><i class="fas fa-angle-double-right" aria-hidden="true"></i></span>
            <span class="sr-only">Suivante</span>
        </a>
    </div>
    <p class="mt-5 text-design">{{ canyon.description }}</p>
</section>
<section>
    <h2>Informations</h2>
    <div class="d-flex justify-content-around flex-wrap drop-container-global">
        <div class="row drop-container duration">
            <div class="d-flex flex-column duration drop">
                <p class="drop-title drop-title-duration">Durée</p>
                <p class="drop-text">{{ canyon.duration }}</p>
            </div>
        </div>
        <div class="row drop-container level">
            <div class="flex-column drop-down drop">
                <p class="drop-title drop-title-level">Niveau</p>
                <p class="d-flex align-self-center drop-text">{{ canyon.level }}</p>
            </div>
        </div>
        <div class="row drop-container age">
            <div class="flex-column  drop">
                <p class="drop-title drop-title-age">À partir de</p>
                <p class="d-flex align-self-center drop-text">{{ canyon.ageNeeded }} ans</p>
            </div>
        </div>
        <div class="row drop-container knowledge">
            <div class="flex-column align-item-center drop-down drop ">
                <p class="drop-title drop-title-knowledge">Pré-requis</p>
                <p class="d-flex align-self-center drop-text drop-text-width">{{ canyon.knowledge }}</p>
            </div>
        </div>
        <div class="row drop-container abseiling">
            <div class="flex-column align-item-center drop">
                <p class="drop-title drop-title-abseiling">Rappel ?</p>
                <p class="d-flex align-self-center drop-text drop-text-width">{{ canyon.abseiling }}</p>
            </div>
        </div>
        <div class="row drop-container location">
            <div class="flex-column align-item-center drop-down drop">
                <p class="drop-title drop-title-location">Lieu</p>
                <p class="d-flex align-self-center drop-text">{{ canyon.location }}</p>
            </div>
        </div>
        <div class="row drop-container meeting-point">
            <div class="flex-column align-item-center drop">
                <p class="drop-title drop-title-meeting-point">Départ</p>
                <p class="d-flex align-self-center drop-text">{{ canyon.meetingPoint }}</p>
            </div>
        </div>

    </div>

</section>
<section class="price">
    <h2>Prix / personne</h2>
    <div class="row justify-content-around drop-price-container">
        {% for price in canyon.prices %}
        <div class="row drop-container duration">
            <div class="d-flex flex-column duration drop">
                <p class="drop-title drop-title-duration">Normal</p>
                <p class="drop-text">{{ price.normal }} euros</p>
            </div>
        </div>
        <div class="row drop-container duration">
            <div class="d-flex flex-column duration drop">
                <p class="drop-title drop-title-duration">Réduit</p>
                <p class="drop-text">{{ price.reduced }} euros</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<section>
    <h2>Disponibilités</h2>
    <div id="calendar">
        {# {{ dump(data) }} #}
    </div>

    {% if is_granted('ROLE_USER') %}
    <a href="{{ path('reservation') }}" title="Réservation">
        <div class="nav-button bottom"><i class="fas fa-calendar-day"></i> Réservez</div>
    </a>
    {% else %}
    <div class="text-center mt-5">
        <div>Pour réserver, vous devez vous connecter ! <i class="far fa-smile"></i></div>
        <div>
            <a href="{{ path('app_login')}}" title="Connexion">
                <div class="nav-button"><i class="fas fa-sign-in-alt"></i> connexion</div>
            </a>
        </div>
    </div>
    <div class="text-center mt-5">
        <div>Ou vous inscrire !<i class="far fa-smile"></i></div>
        <div>
            <a href="{{ path('app_register')}}" title="Inscription">
                <div class="nav-button"><i class="fas fa-sign-in-alt"></i> inscription</div>
            </a>
        </div>
    </div>
    {% endif %}
</section>
{% endblock %}

{% block javascripts %}

<script>
    // Lance le script au chargement de la fenêtre
    window.onload = () => {
        // Récupération et instanciation de la div #calendar
        let calendarElt = document.getElementById('calendar');
        // Instanciation d'un objet calendar en lui passant le "calendarElt"
        // en premier paramètre et des options en second
        let calendar = new FullCalendar.Calendar(calendarElt, {
            // Affiche le calendrier en jour par mois
            initialView: 'dayGridMonth',
            // Affiche la date en français
            locale: 'fr',
            // Défini le fuseau horaire
            timeZone: 'Europe/Paris',
            // Positionne les éléments de la barre de navigation
            headerToolbar: {
                left: 'dayGridMonth,timeGridWeek,today',
                center: 'title',
                right: 'prev,next'
            },
            // Passe le label des boutons en français
            buttonText: {
                today: 'Aujourd\'hui',
                month: 'Mois',
                week: 'Semaine',
                day: 'Jour'
            },
            // Variable events récupère les données pour les affichées dans le calendrier
            events: {{ data | raw }} // filtre twig pour traduire les données en html
        })

        // calendar.setOption('aspectRatio', 1.8);
        // Rends la vue 
        calendar.render();
    };
</script>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.js"
        integrity="sha256-rPPF6R+AH/Gilj2aC00ZAuB2EKmnEjXlEWx5MkAp7bw=" crossorigin="anonymous"></script>

{% endblock %}