{% extends 'base.html.twig' %}

{% block title %}H2O Canyon | {{ canyon.name }}{% endblock %}

{% block content %}

<section>
    <h1>{{ canyon.name }}</h1>

    <div id="carouselExampleIndicators" class="carousel">
        <ol class="carousel-indicators">
            {% for picture in canyon.pictures %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index-1 }}"
                class="{{ loop.first ? 'active': '' }} "></li>
            {% endfor  %}
        </ol>
        <div class="carousel-inner">
            {% for picture in canyon.pictures %}
            <div class="carousel-item {{ loop.first ? 'active': '' }} ">
                <img class="d-block img-fluid" src="{{ asset('assets/uploads/' ~ picture.path)  }}"
                    alt="Image du {{ canyon.name }}">
            </div>
            {% endfor  %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span><i class="fas fa-angle-double-left" aria-hidden="true"></i></span>
            <span class="sr-only">Précedente</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span><i class="fas fa-angle-double-right" aria-hidden="true"></i></span>
            <span class="sr-only">Suivante</span>
        </a>
    </div>
    <p class="top">{{ canyon.description }}</p>
</section>
<section>
    <h2>Informations</h2>
    <div>
        <p>Durée : {{ canyon.duration }}</p>
        <p>Niveau : {{ canyon.level }}</p>
        <p>Age requis : {{ canyon.ageNeeded }}</p>
        <p>Pré-requis : {{ canyon.knowledge }}</p>
        <p>Descente en rappel : {{ canyon.abseiling }}</p>
        <p>Lieu : {{ canyon.location }}</p>
        <p>Départ : {{ canyon.meetingPoint }}</p>
    </div>
</section>
<h2>Prix</h2>
<section>
    <h2>Disponibilités</h2>
    <div id="calendar">
        {{ dump(data) }}
    </div>
    <a href="{{ path('canyons_single', {'id' : canyon.id} )}}" title="Découvrez les canyons">
        <div class="nav bottom"><i class="fas fa-calendar-day"></i> Réservez</div>
    </a>
    <div class="center">
        <p>Pour réserver, vous devez vous connecter ! <i class="far fa-smile"></i></p>
        <a href="{{ path('canyons_single', {'id' : canyon.id} )}}" title="Découvrez les canyons">
            <div class="nav bottom"><i class="fas fa-sign-in-alt"></i> connexion</div>
        </a>
    </div>
</section>
{% endblock %}

{% block javascripts %}

<script>
   window.onload = () => {
        let calendarElt = document.getElementById('calendar');
        let calendar = new FullCalendar.Calendar(calendarElt, {
            themeSystem: 'bootstrap',
            // Affiche le calendrier en jour par mois
            initialView: 'dayGridMonth',
            locale: 'fr',
            timeZone: 'Europe/Paris',
            headerToolbar: {
                left: 'dayGridMonth,timeGridWeek',
                center: 'title',
                right: 'prev,next today'
            },
            buttonText: {
                today: 'Aujourd\'hui',
                month: 'Mois',
                week: 'Semaine',
                day: 'Jour'
            },
            events: {{ data|raw }}

        })
        // Rends la vue 
        calendar.render();
    };
</script>

{% endblock %}