<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}H2O Canyon{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.css"
        integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/normalize.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/menu.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/custom.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/media-queries.css')}}">
    {% endblock %}
</head>

<body>
    <header>
        {% block menu %}
        <nav role="navigation" id="navigation">
            <div id="menuToggle">
                <input type="checkbox" />
                <span class="span-ham"></span>
                <span class="span-ham"></span>
                <span class="span-ham"></span>
                <ul id="menu">
                    {# {% if is_granted('ROLE_USER') %}
                    <li class="pt-4">
                        Bonjour {{ app.user.firstName }} !
                    </li>
                    {% endif %} #}
                    <li>
                        <i class="fas fa-home fa-fw"></i> <a href="{{ path('home') }}">ACCUEIL</a>
                    </li>
                    <hr class="hr-light">
                    <li>
                         <i class="fas fa-water fa-fw"></i> <a href="{{ path('canyons_index') }}">CANYONS</a>
                    </li>
                    <li>
                        <i class="fas fa-users fa-fw"></i> <a href="{{ path('guides') }}">GUIDES</a>
                    </li>
                    <hr>
                    <li>
                        <i class="fas fa-info-circle fa-fw"></i> </i> <a href="{{ path('informations') }}">INFOS</a>
                    </li>
                    <li>
                        <i class="fas fa-phone fa-fw"></i> </i> <a href="{{ path('contact') }}">CONTACT</a>
                    </li>
                    <hr>
                    {% if is_granted('ROLE_USER') %}
                    <li>
                        <i class="fas fa-share-square fa-fw"></i> <a href="{{ path('reservation') }}">RÉSERVATION</a> 
                    </li>
                    <hr>
                    <li>
                        <i class="fas fa-user fa-fw"></i> <a href="{{ path('user_edit', {'id' : app.user.id} ) }}">COMPTE (gestion)</a> 
                    </li>
                    <hr>
                    <li>
                        <i class="fas fa-sign-out-alt fa-fw"></i> <a href="{{ path('app_logout') }}">DÉCONNEXION</a>
                    </li>
                    {% else %}
                    <li>
                        <i class="fas fa-sign-in-alt fa-fw"></i> <a href="{{ path('app_login') }}">CONNEXION</a>
                    </li>
                    <li>
                        <i class="fas fa-user-plus fa-fw"></i> <a href="{{ path('app_register') }}">INSCRIPTION</a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <i class="fas fa-columns fa-fw"></i> <a href="{{ path('admin_canyon_index') }}">TABLEAU DE BORD</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </nav>
        {% endblock %}
        <div class="container text-center">
            <div>
                <a href="{{ path('home') }}">
                    <img src="{{ asset('assets/images/logo.png') }}" alt="logo H2O Canyon" class="img-fluid my-3">
                </a>
            </div>
        </div>
    </header>
    <main class="container">
        {# TO DO Boucler sur toutes les alertes #}
        {% for message in app.flashes('success') %}
        <div class="alert alert-succes text-center" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% block main %}


        {% block content %} {% endblock %}

        {% endblock %}
    </main>
    <footer>

        {% block footer %}

        <div class="container text-center">
            <div class="row justify-content-center">
                <p class="uppercase">
                    copyright h2o canyon <br />
                    <a href="{{ path('legal_mentions') }}">mentions légales</a>
                    | <a href="{{ path('cgv') }}">conditions générales de ventes</a>
                    | <a href="{{ path('informations') }}">informations</a>
                </p>

            </div>
        </div>

        {% endblock %}
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.js"
        integrity="sha256-rPPF6R+AH/Gilj2aC00ZAuB2EKmnEjXlEWx5MkAp7bw=" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
</body>

</html>