{% extends 'base.html.twig' %}

{% block title %}H2O Canyon | Contact{% endblock %}

{% block content %}

{% for message in app.flashes('message') %}
<div class="alert alert-succes text-center" role="alert">{{ message }}</div>
{% endfor %}

<div class="row justify-content-center">
    <div class="col-lg-6">
        <h1 class="mb-5">Nous contacter</h1>
        {# {{ form(contactForm)}} #}
        {{ form_start(contactForm) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(contactForm) }}
        </div>

        <div class="row">
            <div class="col">{{ form_row(contactForm.lastName) }}</div>
            <div class="col">{{ form_row(contactForm.firstName) }}</div>
        </div>
        <div class="row">
            <div class="col mb-3">
                {{ form_row(contactForm.email) }}
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                {{ form_row(contactForm.message) }}
            </div>
        </div>
        {{ form_end(contactForm) }}
    </div>
</div>

{% endblock %}