{% extends 'base.html.twig' %}

{% block title %}H2O Canyon | Contact{% endblock %}

{% block content %}

{% for message in app.flashes('message') %}
<div class="alert alert-succes text-center" role="alert">{{ message }}</div>
{% endfor %}

<section>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h1 class="mb-5 text-center">Nous contacter</h1>
            {# {{ form(contactForm)}} #}
            {{ form_start(contactForm) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(contactForm) }}
            </div>

            <div class="row">
                <div class="col">{{ form_row(contactForm.lastName) }}</div>
                <div class="col">{{ form_row(contactForm.firstName) }}</div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    {{ form_row(contactForm.email) }}
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    {{ form_row(contactForm.message) }}
                </div>
            </div>
            {{ form_end(contactForm) }}
        </div>
    </div>
</section>

<section>
    <div>
        <h2 class="my-5 font-weight-bold text-center">Rejoignez-nous !</h2>
    </div>
    <div class="d-flex row justify-content-around">
        <a id="tripadvisor"
            href="https://www.tripadvisor.fr/Attraction_Review-g187143-d10133896-Reviews-H2O_Canyon-Besancon_Doubs_Bourgogne_Franche_Comte.html"
            target="_blank"><i class="fab fa-tripadvisor contact-logos col-sm-4 mb-3"></i></a>
        <a id="facebook" href="https://www.facebook.com/h2ocanyon" target="_blank"><i
                class="fab fa-facebook-f contact-logos col-sm-4 mb-3"></i></a>
        <a id="youtube" href="https://www.youtube.com/channel/UCGc9uEd2z22duS3AozciaaQ" target="_blank"><i
                class="fab fa-youtube contact-logos col-sm-4 mb-3"></i></a>
        <a id="pinterest" href="https://www.pinterest.fr/h2ocanyon/" target="_blank"><i
                class="fab fa-pinterest-p contact-logos col-sm-4 mb-3"></i></a>
        <a id="instagram" href="https://www.instagram.com/h2o_canyon" target="_blank"><i
                class="fab fa-instagram contact-logos"></i></a>
    </div>
</section>

{% endblock %}